<!DOCTYPE html>
<html>

<head>
  <title>Websocket MQTT Client</title>
  <link type="text/css" rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
  <div class="container" ng-app="awsiot.sample" ng-controller="AppController as vm">
    <h1>MQTT Client with Cognito auth!</h1>
    <div class="jumbotron">
      <p>Steps to set up your Cognito:</p>
      <ol>
        <li>Login to your AWS account.</li>
        <li>Go to <a href="https://console.aws.amazon.com/cognito/federated" target="_blank">Cognito</a> and create new Identity Pool. (Make sure you checked <kbd>Enable access to unauthenticated identities</kbd>).</li>
        <li>On next page allow to create a new IAM Roles for your pool</li>
        <li>Navigate to <a href="https://console.aws.amazon.com/iam/home#/roles" target="_blank">IAM Roles</a> and click on Role for your identity pool (it sould be <kbd>Conginto_name-of-pool_Unauth_Role</kbd>)</li>
        <li>Click attach policy and in filter type <kbd>AWSIoTFullAccess</kbd>, then select this policy and click Attach.</li>
        <li>Find your identity pool on <a href="https://console.aws.amazon.com/cognito/federated" target="_blank">Cognito</a>, click on it, then click Edit identity pool. Copy <kbd>Identity pool ID</kbd> from that page to field bellow.</li>
      </ol>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Identity Pool Id..." id="identityId" ng-model="vm.identityId">
          <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="vm.createClient()" ng-disabled="!vm.identityId">Create Client</button>
          </span>
        </div>
      </div>
    </div>
    <div>
      <h3>Clients:</h3>
    </div>
    <div class="panel panel-info" ng-repeat="clientCtr in vm.clients.val">
      <div class="panel-heading">
        <button type="button" class="close" ng-click="vm.removeClient(clientCtr)"><span>&times;</span></button>
        <h3 class="panel-title">Client {{::clientCtr.client.name}}</h3>
      </div>
      <div class="panel-body row">
        <div class="col-md-6">
          <p>Subscribe to see the messages published to the topic on the left.</p>
          <div class="alert alert-warning" ng-show="!clientCtr.client.connected">
            <strong>Warning!</strong> This client is not connected.
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label for="topicInput">Topic: </label>
              <input type="text" class="form-control" id="topicInput" placeholder="Topic" ng-model="clientCtr.topicName" ng-disabled="!clientCtr.client.connected"
              />
            </div>
            <button class="btn btn-primary" ng-disabled="!clientCtr.client.connected || !clientCtr.topicName" ng-click="clientCtr.subscribe()">Subscribe</button>
          </div>
          <div>
            <p>Press enter in the text box to send message to topic : {{clientCtr.topicName}} </p>
            <textarea id="messageInput" ng-disabled="!clientCtr.client.connected || !clientCtr.topicName" ng-model="clientCtr.message"
              placeholder="message to send" ng-keyup="clientCtr.msgInputKeyUp($event)"></textarea>
          </div>
          <div class="panel panel-info" ng-show="clientCtr.topics.length">
            <div class="panel-heading">
              <h3 class="panel-title">Topics</h3>
            </div>
            <div class="panel-body">
              <ol>
                <li ng-repeat="topic in clientCtr.topics">
                  {{ topic }}
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-6 pre-scrollable">
          <div class="panel panel-info" ng-repeat="msg in clientCtr.msgs | orderBy: '-'">
            <div class="panel-heading">
              <h3 class="panel-title">{{msg.destination}} -> {{msg.receivedTime | date: 'medium'}}</h3>
            </div>
            <div class="panel-body"> {{msg.content}} </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <h3>Logs:</h3>
      <ul class="list-group">
        <li ng-repeat="log in vm.logs.logs | orderBy:'createdTime':true" class="list-group-item" ng-class="log.className">
          {{log.createdTime | date: 'medium'}} - {{log.content}}
        </li>
      </ul>
    </div>
  </div>
</body>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/aws-iot-device-sdk/aws-iot-sdk-browser-bundle.min.js"></script>
<script type="text/javascript" src="./bower_components/aws-sdk/aws-sdk-2.10.0.min.js"></script>

<script type="text/javascript" src="./js/app.js"></script>
<script type="text/javascript" src="./js/client.js"></script>
<script type="text/javascript" src="./js/clientCache.js"></script>
<script type="text/javascript" src="./js/logger.js"></script>

</html>